server/HELP.md
server/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

/client/node_modules
/client/.pnp
.pnp.js

/client/coverage

/client/build

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/

/server/src/main/java/com/cs3300/group8/locationsearch/controllers/
/server/src/main/java/com/cs3300/group8/locationsearch/payload/
/server/src/main/java/com/cs3300/group8/locationsearch/security/